
.page-title {
    text-align: center;
    height: 100%;
    font-family: 'Titillium Web',serif;font-size: 40px;
    color: #204E5F;
    margin-left: 200px;
    margin-right: 200px;
}

.page-description {
    text-align: center;
    color: #007369;
    border: 3px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    background-size: cover;
    font-family: 'Titillium Web',serif;font-size: 25px;
}

.mainStyle {
    text-align: left;
    color: #007369;
    background-size: cover;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Titillium Web',serif;font-size: 20px;
}

.intros {
    text-align: left;
    color: #204E5F;
    border: 3px;
    padding: 5px;
    background-size: cover;
    font-family: 'Titillium Web',serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
}

.picture-description {
    text-align: center;
    color: #007369;
    border: 3px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    background-size: cover;
    font-family: 'Titillium Web', serif;font-size: 20px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture-item .thumbnail {
    border: 5px solid #568EA6;
}

body {
    background-color: #B7D7D8;
}




