
.page-title {
    text-align: center;
    height: 100%;
    font-family: 'Alegreya Sans SC',serif;font-size: 40px;
    color: gray;
}

.page-description {
    text-align: center;
    color: black;
    border: 3px;
    margin: 2px;
    padding: 30px;
    background-size: cover;
    font-family: 'Alegreya Sans SC',serif;font-size: 25px;
}

.mainStyle {
    text-align: left;
    color: black;
    background-size: cover;
    font-family: 'Alegreya Sans SC',serif;font-size: 20px;
}

.intros {
    text-align: left;
    color: gray;
    border: 3px;
    margin: 2px;
    padding: 10px;
    background-size: cover;
    font-family: 'Alegreya Sans SC',serif;
    font-size: 20px;
    font-weight: bold;
}

.picture-description {
    text-align: left;
    color: black;
    border: 3px;
    margin: 2px;
    padding: 10px;
    background-size: cover;
    font-family: 'Alegreya Sans SC', serif;font-size: 20px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

}

.picture-item .thumbnail {
    border: 5px solid gray;
}

body {
    background-color: lavender;
}




